<section class="hf-badges" aria-label="Beneficios Aumakki">
  <div class="hs-container">
    <div class="hf-badges__grid">
      <div
        *ngFor="let f of features; let i = index"
        class="hf-badge"
        mpFadeIn
        [mpFadeInDelay]="i * 60"
      >
        <div class="hf-badge__icon-wrap" [attr.data-color]="f.color">
          <mat-icon>{{ f.icon }}</mat-icon>
        </div>
        <div class="hf-badge__text">
          <strong class="hf-badge__title">{{ f.title }}</strong>
          <span class="hf-badge__sub">{{ f.sub }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
